---
import type { AwesomeOnboardingOptions } from './types.ts'

/**
 * ORIGINAL SOURCE is src/components/Entry/Entry.tsx
 * We are pre-building the dependencies because the major packages are using
 * a package that has many dependencies that may not build successfully.
 */
import BrowserConnectButton_ from './.build/Entry/Entry'
// import BrowserConnectButton_ from './components/Entry/Entry'

const props = Astro.props as AwesomeOnboardingOptions

const { PUBLIC_DYNAMIC_ENVIRONMENT_ID } = import.meta.env
---

<span class="group relative min-h-10 min-w-32">
	<span
		title="Loading the wallet..."
		class="absolute inset-0 animate-pulse rounded-xl bg-black/10 group-has-[astro-island:not([ssr])]:hidden"
	></span>

	<BrowserConnectButton_
		client:only="react"
		{...props}
		environmentId={PUBLIC_DYNAMIC_ENVIRONMENT_ID}
	/>
</span>
